.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}
.register-button{
    margin-left: 10px
}
a{
    text-decoration: none;
    color: black;
}
img{
    height: 55%;
}
.cards{
    display: flex;
    width: 85%;
    justify-content: center;
    position: fixed;
}
.cards-wrapper{
    margin-left: auto;
    margin-right: auto;
}
.card-text-title{
    font-size: 18px;;
}
@media(max-width: 500px){
    .cards{
        display: none;
    }
}